html, body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
}
#mainHeader{
    font-size: 8rem;
    text-align: center;
}
#subHeader{
    font-size: 5rem;
    text-align: center;
}
li, #paragraph, #paragraphLink{
    font-size: 2.5rem;
}
#imgContainer{
    width: 20rem;
    height: 20rem;
    margin: 1rem auto;
    border-radius: 5px;
}
#img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}